# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\33664\Desktop\Ensup\M1\Info\EtablissementScolaire\EtablissementScolaire\EtablissementScolaire-dao\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
